.footer-bg{
    background-color: var(--first-color);
}

.footer-span span,.footer-nav a,.footer-nav li,.footer-nav span{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    line-height: 50px;
}

.footer-p p{
    font-size: 16px;
    font-weight: 300;
    color: #EAEAEC;
}

.footer-p2 p{
    font-size: 20px;
    font-weight: 500;
    color: #F8F8F8;
}